
    <div class="container">
        <h1>Halls screen</h1>
      
        <table class="table">
            <thead>
                <tr>
                    <th>Hall Code </th>
                    <th>Hall name</th>
                    <th>location</th>
                    <th>capacity</th>
                    <th>Blocked slots</th>
                </tr>
            </thead>
            <tbody>
                <tr class="danger">
                    <td>1</td>
                    <td>Alkrama</td>
                    <td>in the enginering bulding  </td>
                    <td> 160 </td>
                    <td>booked up</td>
                </tr>
                <tr class="success">
                    <td>2</td>
                    <td>Aben Alhetam</td>
                    <td>in the enginering bulding  </td>
                    <td> 240 </td>
                    <td>available</td>
                </tr>
                <tr class="success">
                    <td>3</td>
                    <td>Alfarouk</td>
                    <td>in the enginering bulding  </td>
                    <td> 880 </td>
                    <td>available</td>
                </tr>
                <tr class="danger">
                    <td>4</td>
                    <td>VIP</td>
                    <td>in the enginering bulding  </td>
                    <td> 540 </td>
                    <td>booked up</td>
                </tr>
            </tbody>
        </table>
    </div>

