<table class="table">
    <thead>
        <tr><th>رقم الطلب</th><th>اسم مقدم الطلب</th><th>اسم المدرج</th><th>تاريخ الحجز</th><th>وقت بدء المحاضرة</th><th>وقت انتهاء المحاضرة </th><th>نوع الحجز</th><th>الوصف</th><th>قبول</th></tr>
    </thead>
        <tbody>
            <tr><td>1</td><td>عبدالله محسن</td><td>مدرج الكرامة</td><td">12/11/2017</td"><td>12:30</td><td>2:30</td><td>علوم</td><td>محاضرة في علم الفلك</td><td><button class="btn btn-success">Approve</button></td></tr>
            <tr><td>2</td><td>عبدالله محسن</td><td>مدرج الالفاروق</td><td">12/11/2017</td"><td>12:30</td><td>2:30</td><td>علوم</td><td>محاضرة في علم الفلك</td><td><button class="btn btn-success">Approve</button></td></tr>
            <tr><td>3</td><td>عبدالله محسن</td><td>مدرج الصلاح الدين</td><td">12/11/2017</td"><td>12:30</td><td>2:30</td><td>علوم</td><td>محاضرة في علم الفلك</td><td><button class="btn btn-success">Approve</button></td></tr>
            <tr><td>4</td><td>عبدالله محسن</td><td>مدرج العلوم1</td><td">12/11/2017</td"><td>12:30</td><td>2:30</td><td>علوم</td><td>محاضرة في علم الفلك</td><td><button class="btn btn-success">Approve</button></td></tr>

    </tbody>
    
</table>