<style>

div{
    float: right;
}
</style> 
    <div class="container">

        <div class="well well-sm">تفاصيل القضية</div><br><br>

        <label class="control-label col-sm-2">رقم القضيـة :</label>1546<br><br>
        <label class="control-label col-sm-2">حالة القضيـة :</label>فعالة<br><br>
        <label class="control-label col-sm-2">تاريخ الايداع :</label>22/1/2017<br><br>
        <label class="control-label col-sm-2">اسم المحكمة : </label>محكمة الصلح - اربد<br><br>
        <label class="control-label col-sm-2">نوع القضيـة :</label>حصر أرث<br><br>
        <label class="control-label col-sm-2">تاريخ الاعلام :</label>14/12/2016<br><br>
        <label class="control-label col-sm-2">المدعى :</label>محمد احمد خالد<br><br>
        <label class="control-label col-sm-2">المدعى علية :</label>علي محمد توفيق<br><br>
        <label class="control-label col-sm-2">المدعي علية :</label>سمير احمد علي<br><br>
        <label class="control-label col-sm-2">رقم القضية ذات الصلة :</label>16875<br><br>

    </div>

