<div class="container">

    <form>
        <div class="input-group">
            <span class="input-group-addon">number</span>
            <input id="number" type="number" class="form-control" name="num" placeholder="number">
        </div>
        <div class="input-group">
            <span class="input-group-addon">status</span>
            <input id="status" type="text" class="form-control" name="status" placeholder="status">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">filling date</span>
            <input id="msg" type="date" class="form-control" name="filing date" placeholder="enter filing date">
        </div>
        <br>
        <div>
            <span class="input-group-addon">court:</span>
            <select>
                <option>محكمة اربد</option>
                <option>محكمة عمان</option>
                <option>محكمة المفرق</option>
            </select>
        </div>
        <br>
        <div>
            <span class="input-group-addon">Case Type</span>
            <select>
                <option>صلح</option>
                <option>نزاع</option>
                <option> حقوق</option>
            </select>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Informing  date</span>
            <input id="msg" type="date" class="form-control" name="filing date" placeholder="enter Informing  date">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Plaintiff</span>
            <input id="Plaintiff" type="text" class="form-control" name="Plaintiff" placeholder="Plaintiff">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Defendant</span>
            <input id="Defendant" type="text" class="form-control" name="Defendant" placeholder="Defendant">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon">Respondent</span>
            <input id="Respondent" type="text" class="form-control" name="Respondent" placeholder="Respondent">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Related Case Number</span>
            <input id="number" type="number" class="form-control" name="num" placeholder="•	Related Case Number">
        </div>

    </form>
</div>
